.main {
  background-color: black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  color: white;
  display: flex;
  height: 100vh;
  margin-top: 5px;
  width: 200px;

  flex-direction: column;
  img {
    background-color: white;
    border-radius: 100%;
  }
  ul {
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    list-style-type: none;

    li {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: red;
      }
      font-size: 22px;
    }
  }
  @media all and (max-width: 800px) {
    width: 100px;
  }
}
